body{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    width:100%;
    height:100vh;
    background:#ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header{
    width:100%;
    height:60px;
}
.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0 15px;
    color:black;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
.cross{
    background:none;
    position:absolute;
    top:0;
    right:0;
    padding:7px 15px 0 15px;
    color:black;
    border:0;
    font-size:3em;
    /*line-height:65px;*/
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
.menu-perso{z-index:1000000; font-weight:bold; width:100%; background:#f1f1f1;  position:absolute; top:55px; text-align:center; font-size:12px;}
/*.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}*/
/*.menu li {display: inline-block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}*/
/*.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}*/
.menu-perso li {
    width: 100%;
}

.menu-perso a{
    width: 100%;
    color:#666;
}

.glyphicon-home{
    color:white;
    font-size:1.5em;
}

header{
    display:inline-block;
    font-size:12px;
}

span{
    padding-left:20px;
}

a{
    color:#336699;
}